$font: Helvetica, Arial, sans-serif;
$bg-color: #038AFF;
$bg-light: #FFFFFF;
$bg-dark: #000000;
$bg-gray: #C7C7B6;
$bg-pink: #FD6887;
$bg-red: #D84448;
$bg-orange: #D84448;
$bg-green: #26D41D;





*{
    background-color: $bg-color;

}
