$font: Helvetica, Arial, sans-serif;
$bg-color: #038AFF;
$bg-dark: #000000;
$bg-gray: #C7C7B6;
$bg-pink: #FD6887;
$bg-red: #D84448;
$bg-orange: #D84448;
$bg-green: #26D41D;

$geneeral-margin: 0px;
$margin-log: 16px 16px;
$spacer: 4rem;



body {
    background-color: #038AFF;
}


