$font: Helvetica, Arial, sans-serif;
$bg-color: #038AFF;
$bg-dark: #000000;
$bg-gray: #C7C7B6;
$bg-pink: #FD6887;
$bg-red: #D84448;
$bg-orange: #D84448;
$bg-green: #26D41D;
$bg-white: #ffffff;
$bg-naviblue: #161348;
$colorsScroll: (
    'text-muted': #6c757d,
    'text-primary': #007bff,
);


$geneeral-margin: 0px;
$margin-log: 16px 16px;
$spacer: 4rem;

$spacing: (
  'xs': 0.25rem,
  'sm': 0.5rem,
  'md': 1rem,
  'lg': 1.5rem,
  'xl': 2rem
);

$transitions: (
    'duration' : 0.3s,
    'timing' : ease
);

$transitions-cards: (
    'background-color': turquoise,
  'color': white,
  'transform': translateY(-2px),
  'box-shadow': 0 12px 20px rgba(0,0,0,0.15)
);




.container-logos{
    background-color: $bg-color;
}

.container-solutions {
    background-color: $bg-naviblue;
}

.container-footer {
    background-color: $bg-naviblue;
    color:$bg-white;
}
.header-light{
    content: $bg-white;
}

.link-white {
    color: $bg-white;
}


.hover-award {
  transition: all 0.3s ease;
  
  &:hover {
    @each $propiedad, $valor in $transitions-cards {
      #{$propiedad}: $valor;
    }
  }
}